.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw !important;
    height: 65vh !important;
    max-width: 45%;
    max-height: 80%;
    gap: 10px;
    margin: auto;
    flex-direction: column;
    align-content: center;
    background-color: white;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    z-index: 10;
    border-radius: 15px;
}

.form-input-container{
    width: 80%;
    height: 20%;
}

.form-input{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #845EC2;
    box-sizing: border-box;
    font-size:5vw !important;
    width: 100%;
    height: 100%;
}
@media (min-width: 600px) {
    .form-input {
        font-size: 3vw !important;
    }
}


.form-input:focus{
    outline: none;
}

.form-input::-webkit-input-placeholder{
    color:#aaa;
}

.form-input:focus::-webkit-input-placeholder{
    color: #845EC2;
}

.form-input:focus+.underline{
    transform: scale(1);
}

.underline{
    background-color: #845EC2;
    height: 2px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.form-btn-submit{
    position: relative;
    width: 65%;
    height: 15%;
    font-size: 5vw;
    color:#845EC2;
    background: none;
    border: 2px solid #845EC2;
    cursor: pointer;
}

.form-btn-submit .cover {
    position: absolute; /* Add this */
    bottom: -3px; /* Adjust as needed */
    left: -7px; /* Adjust as needed */
    width: 0; /* Add this */
    height: 0; /* Add this */
    border-left: 10px solid transparent; /* Add this */
    border-right: 10px solid transparent; /* Add this */
    border-top: 10px solid #845EC2; /* Add this */
    transform: rotate(45deg); /* Add this */
}

@media (min-width: 600px) {
    .form-btn-submit {
        font-size: 2vw !important;
    }
}


.status-message{
    color: #845EC2;
}

.form-btn-submit:hover{
    transition: all 0.3s ease;
    color: #fafafa;
}

.form-btn-submit:active{
    outline: none;
}

.form-btn-submit:focus{
    outline: none;
}

.form-btn-submit::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: #845EC2;
    transform-origin: left bottom;
    transition-property: "width", "height";
    transition-duration: 0.3s;
    z-index: -1;
}

.form-btn-submit:hover::after{
    width: 100%;
    height: 100%;
}


