.navbar {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #845EC2;
    z-index: 2;
}

.navbar h1 {
    font-size: 8vw;
    text-align: center;
    color: #fff;
}
@media (min-width: 600px) {
    .navbar h1 {
      font-size: 3vw;
    }
  }

.logo{
    width: auto;
    max-width: 50px;
    max-height: 50px;
    order: -1;
}

.nav-links{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.nav-links:hover{
    color: orange;
}

.link-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}