.profileHstry-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    background: none;
    z-index: 2;
}
.profile-forms-images {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 80vw;
    min-height: 30vh;
    max-width: 95vw;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    border-radius: 15px;
    gap: 2px;
    overflow-y: auto;
    z-index: 2;
    
  }
  
  .profile-img-translations {
    padding:5px;
    width: 75px;
    border: 2px solid black;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    max-width: 100%;

  }