.btn-profile{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 8%;
    font-size: 5vw;
    color:#845EC2;
    background: none;
    border: 2px solid #845EC2;
    cursor: pointer;
    font-size: 1.5em;
    padding: 20px;
    margin-top: 1em;
}

.btn-profile:hover{
    transition: all 0.3s ease;
    color: #fafafa;
}

.btn-profile:active{
    outline: none;
}

.btn-profile:focus{
    outline: none;
}

.btn-profile::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: #845EC2;
    transform-origin: left bottom;
    transition-property: "width", "height";
    transition-duration: 0.3s;
    z-index: -1;
}

.btn-profile:hover::after{
    width: 100%;
    height: 100%;
}