.translation-form{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90vw !important;
    height: 25vh !important;
    max-width: 80%;
    max-height: 80%;
    flex-direction: column;
    align-content: center;
    background-color: white;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    z-index: 10;
    border-radius: 15px;
}

.translation-input-container{
    width: 80%;
    height: 40%;
}

.translation-input{
    text-align: center;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #845EC2;
    box-sizing: border-box;
    font-size:3vw;
    width: 100%;
    height: 100%;
}
@media (min-width: 600px) {
    .translation-input {
      font-size: 5vw;
    }
}

.translation-input:focus{
    outline: none;
}

.translation-input::-webkit-input-placeholder{
    color:#aaa;
}

.translation-input:focus::-webkit-input-placeholder{
    color: #845EC2;
}

.translation-input:focus+.underline{
    transform: scale(1);
}

.translation-btn-submit{
    position: relative;
    width: 25%;
    height: 35%;
    font-size: 2vw;
    color:#845EC2;
    background: none;
    border: 2px solid #845EC2;
    cursor: pointer;
}

.btn-submit .cover {
    position: absolute; 
    bottom: -3px; 
    left: -7px; 
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid #845EC2; 
    transform: rotate(45deg);
}

.status-message{
    color: #845EC2;
}

.translation-btn-submit:hover{
    transition: all 0.3s ease;
    color: #fafafa;
}

.translation-btn-submit:active{
    outline: none;
}

.translation-btn-submit:focus{
    outline: none;
}

.translation-btn-submit::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: #845EC2;
    transform-origin: left bottom;
    transition-property: "width", "height";
    transition-duration: 0.3s;
    z-index: -1;
}

.translation-btn-submit:hover::after{
    width: 100%;
    height: 100%;
}

