.form-images {
    display: flex;
    flex-wrap: wrap;
    height: 50vh;
    width: 80vw;
    min-height: 30vh;
    max-width: 95vw;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    border-radius: 15px;
    overflow-y: auto;
    z-index: 2;
  }
  
  .img-translation {
    padding:5px;
    width: 50px;
    border: 2px solid black;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    max-width: 100%;
    z-index: 2;
  }