*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background: #845EC2;
    position:static;   
    width: 100%;
}

.navbar h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.input-form{
    position: absolute;
    height: 200px;
    width: 500px;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
    z-index: 10;
    border-radius: 15px;
    padding: 15px;
    left: 30%;
    top:20%;
}
.area{
    background: #FFC75F;
    position: absolute;
    width: 100%;
    height: 100vh; 
    z-index: -1;
}

.circles{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2); 
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left:25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left:10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left:70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left:40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left:65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left:75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left:35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left:50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left:20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left:85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.btn-submit{
    position: relative;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    color:#845EC2;
    background: none;
    border: 2px solid #845EC2;
    cursor: pointer;
    top: 40px;
    left:40px;
}

.cover{
    position: relative;
    bottom: 1rem;
    width: 0;
    height: 0;
    top: 25px;
    left:40px;
    border-bottom: 15px solid #845EC2;
    border-right: 15px solid transparent;
    
}

.btn-submit:hover{
    transition: all 0.3s ease;
    color: #fafafa;
}

.btn-submit:active{
    outline: none;
}

.btn-submit:focus{
    outline: none;
}

.btn-submit::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 0;
    background-color: #845EC2;
    transform-origin: left bottom;
    transition-property: "width", "height";
    transition-duration: 0.3s;
    z-index: -1;
}

.btn-submit:hover::after{
    width: 100%;
    height: 100%;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #845EC2;
    box-sizing: border-box;
    font-size: 36px;
    height: 60px;
    left: 30%;
    margin: 2px 0 0 -100px;
    padding: 30px 0px;
    position: relative;
    top: 50%;
    width: 400px;
}

.input:focus{
    outline: none;
}

.input::-webkit-input-placeholder{
    color:#aaa;
}

.input:focus::-webkit-input-placeholder{
    color: #845EC2;
}

.input:focus+.underline{
    transform: scale(1);
}

.underline{
    background-color: #845EC2;
    display: inline-block;
    height: 2px;
    left: 50px;
    margin-top: -4px;
    position: absolute;
    top:80px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 404px;
}

.status-message{
    position: absolute;
    left:55px;
    top:80px;
    color: #845EC2;
}

.nav-links{
    color: #fafafa;
    font-size: 24px;
    display: inline;
    text-align: center;
    width: 7%;
}

#input-translation{
    top:10%;
}

.img-translation{
    width: 50px;
    background:rgba(255,255,255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4,2px);
    -webkit-backdrop-filter: blur(4.2px);
    border: 1px solid rgba(255,255,255,0.65);
}

#output-box{
    top: 55%;
}

.logo{
    width: 48px;
    position: absolute;
    bottom: 90.5%;
    left:24%;
}

.link-container{
    display: flex;
    position: relative;
    bottom:40px;
    left: 80%;
}